/* Estilo para subtítulo */
.subtitulo {
  font-size: 1em; /* Tamaño de fuente */
  font-weight: bold; /* Grosor de la fuente */
  color: #2c43c4; /* Color del texto */
  background-color: #cac3c3; /* Color de fondo */
  padding: 10px 20px; /* Espacio alrededor del texto */
  margin-bottom: 10px; /* Espacio en la parte inferior */
}
